/* == Typography == */
h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 24pt;
    line-height: 10pt;
    color: black;
    text-align: center;

}

.SF {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12pt;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 16pt;
    line-height: 7pt;

}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
    line-height: 10pt;
}

a {
    font-size: 14pt;
    line-height: 10pt;
    font-family: 'Quicksand', sans-serif;
    margin: 15px;
    color: black;
}

#nav a {
    color: black;
    font-size: 14pt;
}

#homepage a {
    color: #913ebc;
    font-size: 12pt;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.safeexit {
    color: white !important;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
}

footer p {
    font-size: 9pt;
    font-family: 'Libre Franklin', sans-serif;

}


#covid p {
    text-align: center;
    font-size: 10pt;
    line-height: 10pt;
    font-family: 'Quicksand', sans-serif;
}

/* == background ==*/
body {
    background-color: #eee1e1;

}

#nav {
    background-color: #93c47d;

}

.safeexit {
    background-color: #913ebc;
    padding: 10px;
    padding-right: 10px;


}

a {
    text-decoration: none;
    color: black;
}


.safeexit:hover {
    color: #bfffac !Important;
}

footer {
    background-color: #64a8dc;
}

#social {
    background-color: #64a8dc;

}

#homepage a {
    text-decoration: none;
}
}

/* == Layout == */
div {
    text-align: center;
}


header {
    padding: 30px;
    padding-bottom: 10px;
}


footer {
    display: grid;
    grid-template-columns: 33% 33% 33%
}

#nav {

    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;

}


#involved {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 45px;
}

#homepage {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 13px;
}

footer {
    margin-top: 20px;
}

#social {
    padding: 15px;
}

.text {
    text-align: center;
}
