*/===Typography===*/ body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    color: #000000;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;

}

h1 {
    font-family: font-family: 'Teko', sans-serif;
    font-size: 72pt;
    line-height: 18pt;
    color: #000000;
}

h2 {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

footer {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 8pt;
    line-height: 18pt;
    color: #ffffff;
    text-align: center;
}

*/===Background===*/ header {
    background-color: #000000;
}

main {
    background-color: #FFFFFF;
}

body {
    background-color: #CDCDCD;
}

Footer {
    background-color: #000000;
}

.splash {
    background-size: cover;
}

*/===Box Model===*/ #splash {
    height: 400px;
}

nav {
    padding: 20px;
}

footer {
    padding: 20px;
}

*/===Layout===*/ .floatleft {
    float: left;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}


main {
    display: grid;
    grid-template-columns: 75% 25%;

}

img {
    padding-right: 20px;
    padding-bottom: 20px;
}

p {
    padding-left: 20px;
    padding: 20px;
}

#splash {
    grid-column grid-column-start: 1;
    grid-column-end: 3;

}


aside a {
    text-decoration: none;
    color: #000000;
}

a {
    margin-right: 20px;
}

header {
    text-align: center;
}

#advertisement {
    background-color: #FF0000;
    float: right;
}
